<h1>{{artistName}}</h1>


{{#if isEditing}}
<form>
  <div class="form-group">
    <label for="artistName">Artist name:</label>
    {{input id="artistName" class="form-control" value=artistName}}
  </div>

  <div class="form-group">
    <label for="bio">Bio:</label>
    {{textarea id="bio" class="form-control" rows="10" value=bio}}
  </div>

  <div class="form-group">
    <label for="artistImageURL">Artist Image:</label>
    {{input id="artistImageURL" class="form-control" value=artistImageURL}}
  </div>

  <div class="form-group">
    <label for="imageURL">Cover Art Image:</label>
    {{input id="imageURL" class="form-control" value=imageURL}}
  </div>

  <button class="btn btn-primary" {{action 'save'}}>Save</button>
</form>

{{else}}
  <img class="artistImageURL" {{bind-attr src=this.artistImageURL}}>
  <p>Bio:  {{bio}}</p>
  <br><br>
  <button class="btn btn-primary" {{action 'edit'}}>Edit</button>
  <button class="btn btn-danger"  {{action 'delete'}}>Delete</button>
{{/if}}
<div class="clearfix"></div>
  <h3>Artworks</h3>

  <p>{{#link-to 'newArtwork' this.id class="btn btn-default"}}Add artwork{{/link-to}}</p>

  <br>
  <div class="all-artists">
    <img class="imageURL" {{bind-attr src=this.imageURL}}/>
  </div>

  {{#each artworks}}
    <div class="all-artists">
      <img class="imageURL" {{bind-attr src=this.artworkImageURL}}>
      <br>
      {{description}}
      <br>
      {{artworkName}}
    </div>
  {{/each}}
  <div class="clearfix"></div>
  {{outlet}}
